<div class="position-absolute top-50 start-50 translate-middle">
  <form>
    <h1 class="h1">Регистрация</h1>
    <div class="mb-2">
      <label for="username" class="form-label">Имя пользователя</label>
      <input [formControl]="usernameControl" type="text" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-2">
      <label for="dateOfBirth" class="form-label">Дата рождения</label>
      <input [formControl]="dateOfBirthControl" type="date" class="form-control" id="dateOfBirth" aria-describedby="emailHelp">
    </div>
    <div class="mb-2">
      <label for="email" class="form-label">Почта</label>
      <input [formControl]="emailControl" type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Пароль</label>
      <input [formControl]="passwordControl" type="password" class="form-control" id="password">
    </div>
    <a type="submit" class="btn btn-primary w-100x" (click)="onClick()">Зарегистрироваться</a>
  </form>
</div>
