<form novalidate
      (ngSubmit)="save()"
      [formGroup]="customerForm" ])>
  <h1 class="h1">Регистрация</h1>
  <div class="mb-2">
    <label for="username"
           class="form-label">
      Имя пользователя
    </label>
    <input type="text"
           class="form-control"
           id="username"
           [ngClass]="{'is-invalid': (customerForm.get('username')?.touched ||
                                            customerForm.get('username')?.dirty) &&
                                            !customerForm.get('username')?.valid }">
  </div>
  <a type="submit" class="btn btn-primary w-100x" (click)="save()">Зарегистрироваться</a>
</form>
